
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    background-color: #bd7f4e;
    background-image: url('./board-bg.jpg');
}

a.link-principal {
    text-decoration: none;
    margin: 16px;
    padding: 0;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
a.link-principal:hover {
    box-shadow: 0 10px 8px 8px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}



p {
    margin: 0;
    padding: 0;
}

h1 {
    box-sizing: border-box;
    text-align: center;
    background: white;
    margin: 32px auto;
    padding: 32px;
    max-width: min(500px, calc(100vw - 64px));
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
}

h1 small{
    display:block;
    font-size: 0.5em;;
}

.titulo-trabajo {
    font-weight: 600;
    padding-bottom: 8px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    width: 300px;
    height: 400px;
}


.image img {
    width: 100%; /* Make the image cover the entire container width */
    height: 300px; /* Make the image cover the entire container height */
    object-fit: cover; /* Crop the image in the center while maintaining its aspect ratio */
}

.author {
    margin-top: 10px;
    color: #555;
}
