body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:bisque;
    color: #000000;
   }
   
   h1 {
       text-align: center;
       color: #000000;
       text-decoration: underline;

   }
   
   h2 {
       color: rgb(0, 0, 0);
       text-decoration: underline;
       text-align: center;
   }
   

   .contenedorEmpresa {
       max-width: 700px;
       margin: 20px auto;
       padding: 32px;
       background:lightblue;
       border: 5px solid palevioletred;
       border-radius: 20px;
   }

   .contenedorGrupo {
    max-width: 700px;
    margin: 20px auto;
    padding: 32px;
    background:greenyellow;
    border: 5px solid rgb(158, 158, 228);
    border-radius: 20px;
}

.contenedorDiscografica {
    max-width: 700px;
    margin: 20px auto;
    padding: 32px;
    background:rgb(240, 178, 167);
    border: 5px solid rgb(158, 158, 228);
    border-radius: 20px;
}
   
   img {
       width:auto;
       height: 300px;
       margin: auto;
       display: block;
   }
   
   ul {
       list-style: disc;
       padding-left: 30px;
   }
   
   p {
       margin-bottom: 16px;
       color: black;
   }