<div class="contenedor">
  <h1>{{nombre}}</h1>
  <div class="columnas">
    <div>
    <img class="imagen-detalle" src="{{imagen}}" />
    </div>
    <div>
      <ul>
        <li><strong>Nombre:</strong> {{nombre}}</li>
        <li><strong>Edad:</strong> {{edad}}</li>
        <li><strong>Profesion:</strong> {{profesion}}</li>
      </ul>
      <h2>Biografia</h2>
      {{{detalle_extendido}}}
      <h2><strong>Actores colegas:</strong> {{actores colegas}}</h2>
      <p>
        <a href="{{wikipedia}}">Articulo de {{nombre}} en Wikipedia</a>
      </p>
      <p><a href="./index.html">volver</a></p>
    </div>
  </div>
</div>
